.content-text-center, .card .card-title, .card .card-price {
  width: 100%;
  text-align: center; }

.card:hover {
  border: 1px solid black; }

.card .card-image {
  width: 100%;
  align-content: center; }

.grid-row .grid-column {
  width: 30%; }
