.amount {
    &:after {
        content: ' GBP';
    }
}

.card {
    margin: 5em;

    .card-title {
        padding: 1em;
    }
    
    .card-content {
        background: $white;
        border-collapse: true; 
        @include box-shadow(0 1px 0px rgba(0,0,0,.1));
        
        .card-list-item {
            position: relative;
            border-bottom: 1px solid $grey-light;
            height: 3em;

            &:last-child {
                border: none;
            }

            .card-list-item-title {
                position: absolute;
                top: 1em;
                font-weight: 500;
                left: 5%;
            }
            
            .card-list-item-content {
                position: absolute;
                top: 1em;
                left:25%;
            }
        }
    }
}