.content-text-center {
    width: 100%;
    text-align: center;
}

.card {
    &:hover {
        .card-image {
            width: 105%;
            @include transition(width .1s ease-in);
        }
    }
    
    .card-image {
        width: 100%;
        @include transition(width .1s ease-out);
        align-content: center;
    }
    .card-title {
        @extend .content-text-center
    }
    .card-price {
        @extend .content-text-center
    }
}