.amount {
    &:after {
        content: ' GBP';
    }
}

.card {
    margin: 30px 100px 60px 100px;

    .card-title {
        padding: 10px;
    }
    
    .card-content {
        margin: 10px 0;
        
        .card-list-item {
            background: $white;
            position: relative;
            width: 100%;
            @include box-shadow(2px 2px 1px rgba(0,0,0,.1));
            @include transition(
                margin 0.3s ease-out,
                width 0.3s ease-out,
                left 0.3s ease-out);

            &.expend {
                width: 110%;
                margin: 10px -5% 30px;
                @include transition(
                    margin 0.3s ease-in,
                    width 0.3s ease-in,
                    left 0.3s ease-in);
            }
            
            dl {
                width: 100%;
            }

            dt {
                font-weight: 500;
            } 
            
            dt, dd { 
            }

            &:last-child {
                border: none;
            }
            
            .card-list-item-content {
                top: 1em;
                left:25%;
            }

            .card-list-item-content-lens {
                opacity: 0;
                max-height: 0;
                background: $white;
                @include transition(
                    max-height 0.5s ease-out,
                    opacity 0.3s ease-out);


                &.expend {
                    opacity: 1;
                    max-height: 300px;
                    @include transition(
                        max-height 0.5s ease-in,
                        opacity 0.3s ease-in 0.3s);
                }
            }
        }
    }
}