header {
    position: fixed;
    top: 0;
    background-color: $white;
    border-bottom: 1px solid $grey-light;
    padding: 1em 3.5em;
    font-size: large;
    width: 100%;
    
    @include box-shadow(0 1px 0px rgba(0,0,0,.1));
}

nav {
    dt {
        font-weight: 500;
        dd {
            font-weight: 300;
        }
    }
    
    .nav-menu {
        border: none;
        background-color: $white;
        cursor: pointer;
        position: fixed;
        top: 1em;
        left: 1em;
        font-size: large;
    }
}