$cell-padding: 0.7em 1em;

.table-card {
    @include box-shadow(0 1px 2px rgba(0,0,0,.1));
    background-color: white;
    margin: 0 auto;
        
    .table-title {
        padding: 1em 0.6em;
        font-size: x-large;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        
        thead {
            th {
                padding: $cell-padding;
                color: #808080;
                border-bottom: 1px solid #808080;
                text-align: left;
                
                &.right {
                    text-align: right;
                }
            }
        }
        
        tbody {
            tr {
                text-align: left;
                border-top: 1px solid #C8C9CA;
                border-bottom: 1px solid #C8C9CA;
                
                &:hover {
                    cursor: pointer;
                    background-color: #F7F7F7;
                }
            }

            td {
                padding: $cell-padding;
                
                &.money {
                    text-align: right;
                }
                
                &.money:after {
                    content: " GBP";
                }
            }
        }
        
        tfoot {
            
            .pagination {
                float: right;
                font-size: x-large;
                padding: 0.2em;
                
                .pagination-button {
                    display: inline-block;
                    cursor:pointer;

                    &:hover {
                        text-decoration: underline;
                    }
                }
                                
                .pagination-previous {
                    @extend .pagination-button;
                    
                    &:after {
                        content: "<";
                    }
                }
                
                .pagination-next {                    
                    @extend .pagination-button;

                    &:after {
                        content: ">";
                    }
                }
            }
        }
    }   
}