$cell-padding: 0.7em 1em;

.table-card {
    @include box-shadow(0 1px 2px rgba(0,0,0,.1));
    background-color: $white;
    margin: 2em;
    @include transition(0.5s);
    
    &:hover {
        @include box-shadow(2px 2px 4px rgba(0,0,0,.4));
    }
        
    .table-title {
        padding: 1em 0.6em;
        font-size: x-large;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        
        thead {
            th {
                padding: $cell-padding;
                color: $grey;
                border-bottom: 1px solid $grey;
                text-align: left;
                
                &.right {
                    text-align: right;
                }
            }
        }
        
        tbody {
            tr {
                text-align: left;
                border-top: 1px solid $grey-light;
                border-bottom: 1px solid $grey-light;
                
                &:hover {
                    cursor: pointer;
                    background-color: $grey-very-light;
                }
            }

            td {
                padding: $cell-padding;
                                
                &.money {
                    text-align: right;
                }
                
                &.money:after {
                    content: " GBP";
                }
                
                &[colspan] {
                    padding: 0;
                    
                    table {
                        position: relative;
                        top:-0.5em;
                        background-color: white;
                        @include box-shadow(2px 2px 4px rgba(0,0,0,.4));
                    }   
                }
            }
        }
        
        tfoot {
            
            .pagination {
                float: right;
                font-size: x-large;
                padding: 0.2em 1em;
                
                .pagination-button {
                    display: inline-block;
                    cursor: pointer;

                    &:hover {
                        text-decoration: underline;
                    }
                    
                    &.disabled {
                        color: $grey-very-light;
                        cursor: no-drop;
                        
                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
                                
                .pagination-previous {
                    @extend .pagination-button;
                    
                    &:after {
                        content: "<";
                    }
                }
                
                .pagination-next {                    
                    @extend .pagination-button;

                    &:after {
                        content: ">";
                    }
                }
            }
        }
    }   
}